# .gitignore
.venv/
node_modules/
.DS_Store
*.log
__pycache__
terraform/variables.tfvars
terraform/.terraform.lock.hcl
terraform/.terraform**
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/session-manager-plugin.deb